@font-face {
  font-family: 'crappo-font';
  src:  url('../fonts/crappo-font.eot?jqsa9l');
  src:  url('../fonts/crappo-font.eot?jqsa9l#iefix') format('embedded-opentype'),
    url('../fonts/crappo-font.ttf?jqsa9l') format('truetype'),
    url('../fonts/crappo-font.woff?jqsa9l') format('woff'),
    url('../fonts/crappo-font.svg?jqsa9l#crappo-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crappo-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-chart:before {
  content: "\e900";
}
.i-earth:before {
  content: "\e901";
}
.i-person:before {
  content: "\e902";
}
.i-arrow1:before {
  content: "\e907";
  color: #fff;
}
.i-arrow2:before {
  content: "\e904";
  color: #fff;
}
.i-arrow3:before {
  content: "\e905";
  color: #fff;
}
.i-crappo:before {
  content: "\e903";
  color: #fff;
}
.i-visa:before {
  content: "\e908";
  color: #fff;
}
.i-mastercard .path1:before {
  content: "\e906";
  color: rgb(130, 130, 130);
}
.i-mastercard .path2:before {
  content: "\e909";
  margin-left: -1.2626953125em;
  color: rgb(230, 230, 230);
  opacity: 0.5020;
}
.i-bitcoin:before {
  content: "\e90a";
  color: #fff;
}
.i-facebook:before {
  content: "\e91a";
  color: #fff;
}
.i-instagram:before {
  content: "\e91b";
  color: #fff;
}
.i-youtube:before {
  content: "\e91c";
  color: #fff;
}
.i-twitter:before {
  content: "\e91d";
  color: #fff;
}
.i-linkedin:before {
  content: "\e91e";
  color: #fff;
}
.i-vk:before {
  content: "\e91f";
  color: #fff;
}
