@import "_nullstyle.scss";

body {
    background: #0d0d2b;
}

.wrapper {
    width: 1240px;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.title,
.subtitle,
.caption,
.text,
.button,
.link,
.copyright {
    font-family: "Rubik";
    font-style: normal;
    color: #ffffff;
}

.subtitle,
.caption,
.button {
    line-height: 150%;
}

.text,
.link,
.copyright {
    font-size: 16px;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 117%;
}

.subtitle {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.text {
    font-weight: 400;
    line-height: 175%;
    color: #e0e0e0;
}

.caption {
    font-weight: 500;
    font-size: 32px;
}

.button {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 16px 24px;
    background: #3671e9;
    border-radius: 32px;
}

.link {
    font-weight: 400;
    color: #e0e0e0;
}

.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    &__logo {
    }

    &__navigation {
    }

    &__button {
    }
    &__sign-block {
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    &__icon {
        &::before {
            font-family: "crappo-font";
            content: "\e903";
            color: #fff;
            font-size: 38px;
        }
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text {
        font-family: "Inter";
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.04em;
        color: #ffffff;
        padding-left: 16px;
    }
}

.menu {
    margin-right: 56px;
    &__links {
        display: flex;
    }

    &__link {
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.sign-block {
    display: flex;
    align-items: center;
    &__login {
    }
    &__register {
    }
    &__divide-line {
        display: block;
        margin: 0 24px;
        width: 1px;
        height: 24px;
        background-color: rgba(242, 242, 242, 0.3);
    }
}

.title-block {
    &__wrapper {
    }

    &__info {
    }

    &__discount {
    }

    &__title {
    }

    &__text {
    }

    &__button {
    }

    &__image {
    }
}

.discount {
    &__offer {
    }

    &__body {
    }
}

.statistic {
    &__wrapper {
    }

    &__items {
    }

    &__item {
    }
}

.statistic-item {
    &__title {
    }

    &__text {
    }
}

.feature {
    &__wrapper {
    }

    &__image {
    }

    &__info {
    }

    &__title {
    }

    &__text {
    }

    &__button {
    }
}

.calculation {
    &__wrapper {
    }

    &__info {
    }

    &__title {
    }

    &__text {
    }

    &__widget {
    }
}

.calc-widget {
}

.mining {
    &__wrapper {
    }

    &__title {
    }

    &__items {
    }

    &__item {
    }
}

.mining-item {
    &__image {
    }

    &__caption {
    }

    &__text {
    }

    &__button {
    }
}

.benefits {
    &__wrapper {
    }

    &__title {
    }

    &__benefits-list {
    }

    &__benefit {
    }
}

.benefit {
    &__info {
    }

    &__title {
    }

    &__text {
    }

    &__button {
    }

    &__visual {
    }
}

.appeal {
    &__wrapper {
    }

    &__input-block {
    }
}

.input-block {
    &__info {
    }

    &__title {
    }

    &__text {
    }

    &__input {
    }
}

.footer {
    &__wrapper {
    }

    &__row-1 {
    }

    &__logo {
    }

    &__links {
    }

    &__link {
    }

    &__resourses {
    }

    &__resourse {
    }

    &__supported-payment {
    }

    &__row-2 {
    }

    &__copyright {
    }

    &__socials {
    }
}

.supported-payment {
    &__title {
    }

    &__payments-list {
    }

    &__payment {
    }
}

.socials {
    &__links {
    }

    &__link {
    }
}

.copyright {
}
